<div class="page">
	<section class="card register">
		<form name="myform" ng-submit="vm.postLogiciel(vm.logiciel)"
			novalidate>

			<div class="textintro">
				<h2>Nouveau Utilisateur</h2>


			</div>

			<fieldset>
				<legend class="pull-left"> Information Utilisateur</legend>

	<label class="col-sm-22 control-label" for="nom Logiciel">nom utilisateur</label>
				<input type="text" name="nomU" class="form-group"
					placeholder="nom utilisateur .." ng-model="vm.logiciel.nomU"
					ng-required="true">
				<p class="error validationerror"
					ng-show="myform.nomU.$invalid && myform.nomU.$touched">taper
					nom utilisateur correctement.</p>

	<label class="col-sm-22 control-label" for="nom Logiciel">prenom
					utilisateur</label>
				<input type="text" name="prenomU" class="form-group"
					placeholder="prenom Utilisateur " ng-model="vm.logiciel.prenomU"
					ng-required="true">
				<p class="error validationerror"
					ng-show="myform.prenomU.$invalid && myform.prenomU.$touched">
					tapper prenom utilisateur correctement.</p>

	<label class="col-sm-22 control-label" for="nom Logiciel">
					username</label>
				<input type="text" name="username" class="form-group"
					placeholder="username " ng-model="vm.logiciel.username"
					ng-required="true" ng-minlength="6" ng-maxlength="16">
				<p class="error validationerror"
					ng-show="myform.username.$invalid && myform.username.$touched">
					Username doit etre entre 6 et 16 caracteres.</p>

				<label class="col-sm-22 control-label" for="nom Logiciel">password
				</label> <input type="text" name="password" class="form-group"
					ng-minlength="6" ng-maxlength="16" placeholder="password "
					ng-model="vm.logiciel.password" ng-required="true">
				<p class="error validationerror"
					ng-show="myform.password.$invalid && myform.password.$touched">
					tapper password correctement.</p>



				<div class="form-group">
					<label class="col-sm-22 control-label" for="droitU">Droit
						Utilisateur</label>
					<div class="col-sm-22">
						<select ng-required="true" name="droitU" id="droitU"
							class="form-group" ng-model="vm.logiciel.droitU">
							<option ng-repeat="typ in vm.droitU" value="{{typ}}">
								{{typ}}</option>
						</select>
					</div>

					<p class="error validationerror"
						ng-show="myform.droitU.$invalid && myform.droitU.$touched">
						taper droitU .</p>
				</div>




			</fieldset>





			<button type="submit" class="btn">Envoyer</button>
			<button type="reset" ng-click="vm.cancelform()" class="btn">Annuler</button>
		</form>

	</section>
</div>