<div class="page">
	<section class="card register">
		<form name="myform" ng-submit="vm.PUTLogiciel(vm.logiciel)" novalidate>

			<div class="textintro">
				<h2>Modifier Perepherique</h2>


			</div>

			<fieldset>
				<legend class="pull-left"> Information Basic</legend>


				<label class="control-label" for="GarentieP">type
					perepherique </label> <input type="text" name="typeP" class="form-group"
					placeholder="type perepherique " ng-model="vm.logiciel.typeP"
					ng-required="true">
				<p class="error validationerror"
					ng-show="myform.typeP.$invalid && myform.typeP.$touched">
					tapper type perepherique.</p>


				<label class="control-label" for="GarentieP">etat
					perepherique </label> <input type="text" name="etatMateriel"
					class="form-group" min="0" placeholder="etatMateriel"
					ng-model="vm.logiciel.etatMateriel" ng-required="true">
				<p class="error validationerror"
					ng-show="myform.etatMateriel.$invalid && myform.etatMateriel.$touched">
					tapper etat correctement.</p>
				<label class="control-label" for="GarentieP">Adresse IP </label> <input
					type="number" name="adrIPMateriel" class="form-group" min="0"
					placeholder=" AdrIPMateriel eg:192.128.1.1 "
					ng-model="vm.logiciel.adrIPMateriel" ng-required="true">
				<p class="error validationerror"
					ng-show="myform.adrIPMateriel.$invalid && myform.adrIPMateriel.$touched">
					tapper adress ip correctement.</p>




			</fieldset>



			<fieldset>
				<legend></legend>







				<div class="form-group">
					<label class="control-label" for="fournisseurP">Fournisseur
					</label>
					<div>


						<select ng-model="vm.logiciel.fournisseur1.numF"
							data-ng-options="typ.numF as typ.nomF for typ in vm.four"></select>

					</div>

					<p class="error validationerror"
						ng-show="myform.fournisseurP.$invalid && myform.fournisseurP.$touched">
						taper fournisseur Perpherique .</p>
				</div>





				<div class="form-group">
					<label class="control-label" for="GarentieP">Type Garentie
					</label>
					<div>


						<select ng-model="vm.logiciel.garantie1.numGarentie"
							data-ng-options="gara.numGarentie as gara.typeGarentie for gara in vm.gar"></select>

					</div>

					<p class="error validationerror"
						ng-show="myform.GarentieP.$invalid && myform.GarentieP.$touched">
						taper etat garentie du Perpherique .</p>
				</div>












			</fieldset>

			<button type="submit" class="btn">Envoyer</button>
			<button type="reset" ng-click="vm.cancelform()" class="btn">Annuler</button>
		</form>
	</section>
</div>